# --- Saves do jogo ---
saves/*
!saves/.gitkeep
*.save
*.sav

# --- Música ---
assets/music/*
!assets/music/.gitkeep

# --- Outros ---
teste.py
build/
dist/
test.py
steam_api.dll
steam_api.lib
steam_api64.dll
steam_api64.lib
steam_appid.txt
SteamworksPy64.dll
Alagazaha.spec
steamworks/